/* DESKTOP */
@media all and (min-width: 1200px) {
  body {
    background-image: url("../images/pexels-emmet-128421.jpg");
    background-attachment: cover;
    background-size: 100rem;
    background-repeat: no-repeat;

    /* background-color: aqua; */
  }

  h1 {
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 15rem;
    font-size: clamp(2rem, 3vw, 4.2rem);
  }

  .navbar-nav {
    font-size: 1.4rem !important;
  }

  .mainbuttons {
    text-align: center;
    padding: 5px;
  }
  .nav-item {
    color: #000;
  }
}

/* Laptop */
@media all and (min-width: 950px) and (max-width: 1199px) {
  body {
    background-image: url("../images/pexels-emmet-128421.jpg");

    /* background-color: aqua; */
  }

  h1 {
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 15rem;
    font-size: clamp(2rem, 3vw, 4.2rem);
  }

  .navbar-nav {
    font-size: 1.4rem !important;
  }

  .mainbuttons {
    text-align: center;
    padding: 5px;
  }
  .nav-item {
    color: #000;
  }
}

/* TABLET */
@media all and (min-width: 501px) and (max-width: 949px) {
  body {
    background-image: url("../images/pexels-emmet-128421.jpg");

    /* background-color: aqua; */
  }

  h1 {
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 15rem;
    font-size: clamp(2rem, 3vw, 4.2rem);
  }

  .navbar-nav {
    font-size: 1.4rem !important;
  }

  .mainbuttons {
    text-align: center;
    padding: 5px;
  }
  .nav-item {
    color: #000;
  }
}
